# Functions

In [6]:
#Example
import math

In [7]:
math.sin(90)

0.8939966636005579

In [14]:
#function definition
def call():
    name = input('Tell me your name sir: ')
    print(f"Welcome Mr.{name}")

In [15]:
#function call
call()

Tell me your name sir: Uzaif
Welcome Mr.Uzaif

In [33]:
def naam():
    a = ['Mr.','Ms.']
    name = input('Tell me your name please: ')
    gen = input('gender (M/F): ')
    if gen == 'M' or gen == 'm':
        print("Welcome "+a[0]+f"{name}")
    elif gen == 'F' or gen == 'f':
        print("Welcome "+a[1]+f"{name}")

In [34]:
naam()

Tell me your name please: Sara
gender (M/F): f
Welcome Ms.Sara

In [35]:
#check either number is even or odd
def check():
    a = int(input('Enter any number: '))
    if a%2==0:
        print('It is an Even number')
    else:
        print('It is an Odd number')

In [37]:
check()

Enter any number: 345
It is an Odd number

In [50]:
#check either number is even or odd, for unlimmited times
def check_unlimited():
    b = True
    while(b):
        a = input('Enter a number or Q to quit: ')
        if a != 'q':
            a = int(a)
            if int(a)%2==0:
                print('It is an Even number')
            else:
                print('It is an Odd number')
            
        else:
            b = False

In [51]:
check_unlimited()

Enter a number or Q to quit: 4
It is an Even number
Enter a number or Q to quit: 2
It is an Even number
Enter a number or Q to quit: 5
It is an Odd number
Enter a number or Q to quit: q

In [52]:
#Class Work 01
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included).
#The numbers obtained should be printed in a comma-separated sequence on a single line.

In [53]:
a = []
for x in range(2000,3200):
    if x%7==0 and x%5!=0:
        a.append(x)

In [54]:
a

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [55]:
#Class Work 02
#Write a program which can compute the factorial of a given numbers.
#The results should be printed in a comma-separated sequence on a single line.
#Suppose the following input is supplied to the program:
#8
#Then, the output should be:
#40320

#Hints:
#In case of input data being supplied to the question, it should be assumed to be a console input.-//

In [57]:
import math
i = int(input('Enter a number:'))
print(math.factorial(i))

Enter a number:8
40320

In [61]:
#Class Work 03
#With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number
#between 1 and n (both included). and then the program should print the dictionary.
#Suppose the following input is supplied to the program:
#8
#Then, the output should be:
#{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

#Hints:
#In case of input data being supplied to the question, it should be assumed to be a console input.
#Consider use dict()

In [59]:
square = {}
get = int(input('How much squares? '))
for x in range(1,get+1):
    square[x]=x*x

How much squares? 8

In [60]:
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [63]:
#Class Work 04
#Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program:
#34,67,55,33,12,98
#Then, the output should be:
#['34', '67', '55', '33', '12', '98']
#('34', '67', '55', '33', '12', '98')

#Hints:
#In case of input data being supplied to the question, it should be assumed to be a console input.
#tuple() method can convert list to tuple