In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
original_dataset = pd.read_excel('Normal Distribution.xlsx', skiprows=9, index_col=0)

In [10]:
original_dataset

,Original dataset,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Subtract mean,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Task 2,Standardized,Unnamed: 15,Unnamed: 16,Unnamed: 17
NaN,567.450000,NaN,NaN,NaN,NaN,NaN,NaN,-175.577083,NaN,NaN,NaN,NaN,NaN,-2.374169,NaN,NaN,NaN
NaN,572.450000,Task 1,Mean,743.027083,NaN,NaN,NaN,-170.577083,NaN,Mean,2.088996e-13,NaN,NaN,-2.306559,NaN,Mean,2.642331e-15
NaN,572.450000,NaN,St. dev,73.953061,NaN,NaN,NaN,-170.577083,NaN,St. dev,7.395306e+01,NaN,NaN,-2.306559,NaN,St. dev,1.000000e+00
NaN,589.116667,NaN,NaN,NaN,NaN,NaN,NaN,-153.910417,NaN,NaN,NaN,NaN,NaN,-2.081191,NaN,NaN,NaN
NaN,613.866667,Task 3.1,NaN,NaN,NaN,NaN,NaN,-129.160417,Task 3.2,NaN,NaN,NaN,NaN,-1.746519,Task 3.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,842.866667,NaN,NaN,NaN,NaN,NaN,NaN,99.839583,NaN,NaN,NaN,NaN,NaN,1.350040,NaN,NaN,NaN
NaN,849.616667,NaN,NaN,NaN,NaN,NaN,NaN,106.589583,NaN,NaN,NaN,NaN,NaN,1.441314,NaN,NaN,NaN
NaN,874.700000,NaN,NaN,NaN,NaN,NaN,NaN,131.672917,NaN,NaN,NaN,NaN,NaN,1.780493,NaN,NaN,NaN
NaN,878.783333,NaN,NaN,NaN,NaN,NaN,NaN,135.756250,NaN,NaN,NaN,NaN,NaN,1.835708,NaN,NaN,NaN
NaN,897.450000,NaN,NaN,NaN,NaN,NaN,NaN,154.422917,NaN,NaN,NaN,NaN,NaN,2.088121,NaN,NaN,NaN

In [17]:
data = original_dataset['Original dataset']

In [19]:
data.mean()

743.0270833333332

In [26]:
X = data.std()

In [27]:
X.round(Decimal=2)

AttributeError: 'float' object has no attribute 'round'