In [2]:
import pandas as pd

In [42]:
data = pd.read_excel('Book1.xlsx',header=0)

In [70]:
data

      data
0   117313
1   104002
2   113038
3   101936
4    84560
5   113136
6    80740
7   100536
8   105052
9    87201
10   91986
11   94868
12   90745
13  102848
14   85927
15  112276
16  108637
17   96818
18   92307
19  114564
20  109714
21  108833
22  115295
23   89279
24   81720
25   89344
26  114426
27   90410
28   95118
29  113382

In [69]:
mean_vallue = data.mean()

In [58]:
confidence = .95
alfa = "%.2f" %(1 - confidence)

In [59]:
print(alfa)

0.05

In [62]:
z_table={.9:164485,.95:1.95996,.99:2.57583}
z_table[.95]

1.95996

In [76]:
mean_vallue

100200.366667

In [77]:
pop_std = 15000

In [79]:

sample = len(data)
sample

30

In [80]:
std_err = pop_std / (sample ** 0.5)
std_err

2738.6127875258308

ConfidenceInterval = 95%

Alpha = 5% == 0.05

Alpha / 2 = 0.025

z = 1 - Alpha = 0.975

z = 1.96

In [81]:
mue = 113000

In [83]:
z = 1.96
Z = (mean_vallue - mue) / (std_err)
Z

-4.673765269519424

In [84]:
Z = Z[0]

TypeError: 'float' object is not subscriptable

In [85]:
if abs(Z) != z:
    print("Hypothesis is Rejected!!")

Hypothesis is Rejected!!

In [86]:
def hyp_test(data):
    xmue = int(input("Enter Hypothesis Value: "))
    mean_data =  data.mean()
    sample = len(data)
    pop_std = 15000
    std_err = pop_std / (sample ** 0.5)
    z = 2.58
    Z = (mean_data - mue) / (std_err)
    Z = Z[0]
    if abs(Z) != z:
        print("Hypothesis is Rejected!!")
    else:
        print("Hypothesis is Accepted")

In [88]:
hyp_test(data)

Enter Hypothesis Value: 100200
Hypothesis is Rejected!!